@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');
@import './config.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

html,
body,
#app {
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;

  @include max-width($mobail) {
    height: auto;
  }
}

.content {
  width: 100%;
  padding: 32px 32px 24px;
  position: relative;

  @include max-width($sm-mobail) {
    flex-direction: column;
  }

  &--footer {
    padding: 0 32px;
  }
}
